@import "../../styles/globals.module.scss";

.playerCards {
  &List {
    max-width: $page-wrapper;
    margin: 0 auto;
    padding: 1rem;
  }
  &Grid {
    @include playerCardsGrid;
    grid-template-rows: repeat(1, 1fr);

    // display: flex;
    // flex-direction: column;

    // @media only screen and (min-width: $md) {
    //   flex-wrap: nowrap;
    //   flex-direction: row;
    // }
    @media only screen and (min-width: $sm) {
      grid-row-gap: 2rem;
    }
  }
}
