@import "../../styles/globals.module.scss";
/* VideoBlock.module.css */
.sectionVideoBlock {
  overflow-x: hidden;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 2rem;
  margin-top: -2rem;
  max-width: 67rem;
  margin: 0 auto;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    display: block;
    z-index: 3;
  }
  &::before {
    background: url("../../images/player-illustrations/ball@2x.png") no-repeat
      top left / contain transparent;

    width: 7rem;
    height: 12rem;
    top: 0;
    right: -3rem;
  }
  &::after {
    background: url("../../images/player-illustrations/bird@2x.png") no-repeat
      top left / contain transparent;
    height: 8rem;
    width: 8rem;
    bottom: 7rem;
    left: -3rem;
  }
  iframe {
    width: 100%;
    min-height: 20rem;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $sm) {
      min-height: 30rem;
    }
  }
}
