/* VideoBlock.module.css */
.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 24px;
  color: #333;
}

.video {
  width: 100%;
  max-width: 600px;
}

.boop {
  border: 10px solid red;
  font-size: 10rem;
}
