@import "colours.module.scss";
@import "typography.module.scss";

// *** GLOBAL VARIABLES ***

// breakpoints
$sm: 40rem; //640px
$sm-md: 52rem; //832px
$md: 64rem; //1024px
$md-lg: 80rem; //1285px
$lg: 100rem; //1600px
$xl: 150rem; //2400px

$page-wrapper: $lg;

$header-height: 6rem;

// interactions
$smooth-transition: all 0.2s ease-in-out;

$primary-border: 2px dashed $primary-pink;

@mixin playerCardsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 1rem;
  max-width: 75rem;
  margin: 0 auto;
  @media only screen and (min-width: $sm) {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0;
  }
  @media only screen and (min-width: $sm-md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (min-width: $md-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
