@import "../../styles/globals.module.scss";

.sectionGridContentBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1,
  h2,
  h3 {
    @include headingFont;
    color: $primary-white;
  }

  h1 strong {
    @include headingFontUnderline;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  p {
    @include bodyFont;
    color: $primary-white;
    position: relative;
    margin-bottom: 0.75rem;

    strong {
      color: $primary-blue;
      @include headingFontUnderline;
      &::after {
        bottom: 0;
      }
    }
  }
}

.wrapper {
  padding: 3rem 1rem;
  max-width: $page-wrapper;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &Item {
    border: $primary-border;
    border-color: $primary-white;
    padding: 2rem 1.5rem 1rem;
    margin: -2px 0 0;
    @media only screen and (min-width: $sm) {
      flex-basis: 50%;
      min-width: 50%;
      margin: -2px 0 0 -2px;
    }
  }
}

.threeColumns {
  .gridItem {
    @media only screen and (min-width: $sm) {
      flex-basis: 33%;
      min-width: 33%;
    }
  }
}
