@import "../../styles/globals.module.scss";

.sectionGridContentBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1,
  h2,
  h3 {
    @include headingFont;
    color: $primary-white;
  }

  h1 strong {
    @include headingFontUnderline;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  p {
    @include bodyFont;
    color: $primary-white;
    position: relative;
    z-index: 1;
  }
}

.wrapper {
  padding: 3rem 1rem;
  max-width: $page-wrapper;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &Item {
    border: $primary-border;
    border-color: $primary-white;
    flex-basis: 50%;
    min-width: 50%;
    margin: -1px 0 0 -1px;
    padding: 1.5rem;
  }
}
