@import "../../styles/globals.module.scss";

.sectionTextBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .wrapper {
    padding: 3rem 1rem;
    @media only screen and (min-width: $md) {
      padding: 6rem 2rem;

      &Left {
        width: 80%;
      }
    }
  }

  h1,
  h2 {
    @include headingFont;
    color: $primary-blue;
  }

  h1 strong {
    @include headingFontUnderline;
  }

  p {
    @include bodyFont;
    color: $primary-blue;
  }
}

.btnWrapper {
  &::before {
    position: relative;
    content: " ";

    border-bottom: $primary-border;
    vertical-align: middle;
    display: inline-block;
  }
}

.contentLeft {
  display: flex;
  align-items: flex-end;

  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &::before {
      width: 5rem;
      height: 2px;
    }
  }
}

.contentCenter {
  display: block;
  .btnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &::before {
      height: 3rem;
      width: 2px;
      border-bottom: none;
      border-left: $primary-border;
    }
  }
}
