@import "../../styles/globals.module.scss";

.sectionTextBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .wrapper {
    padding: 3rem 1rem;
    max-width: $page-wrapper;
    margin: 0 auto;
    &Left {
      h1,
      p {
        text-align: left;
        @media only screen and (min-width: $md) {
          width: 70%;
        }
        @media only screen and (min-width: $lg) {
          width: 65%;
        }
      }
    }
    @media only screen and (min-width: $md) {
      padding: 6rem 2rem;
    }
  }

  h1,
  h2 {
    @include headingFont;
    color: $primary-white;
    text-align: center;
  }

  h1 strong {
    @include headingFontUnderline;
  }

  p {
    @include bodyFont;
    color: $primary-white;
    position: relative;
    z-index: 5;
    text-align: center;
  }
}

.btnWrapper {
  &::before {
    position: relative;
    content: " ";

    border-bottom: $primary-border;
    vertical-align: middle;
    display: inline-block;
  }
}

.contentCenter {
  display: block;
  text-align: center;
  margin: 0 auto;
  @media only screen and (min-width: $md) {
    width: 70%;
  }
  @media only screen and (min-width: $lg) {
    width: 65%;
  }
  .btnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &::before {
      height: 3rem;
      width: 2px;
      border-bottom: none;
      border-left: $primary-border;
    }
  }
}

.default {
  p {
    margin-bottom: 0;
    padding: 1rem 0 1rem 2rem;
    background: url("../../images/border-dash.svg") repeat-y top left
      transparent;

    &:first-child {
      padding: 3rem 0 1rem 2rem;
    }
    &:last-child {
      padding: 1rem 0 3rem 2rem;
    }
  }
}

.textBlockWithButton {
  .contentLeft {
    @media only screen and (min-width: $md) {
      display: flex;
      align-items: flex-end;
    }

    .btnWrapper {
      margin-top: 2rem;
      @media only screen and (min-width: $md) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 0;
      }

      &::before {
        @media only screen and (min-width: $md) {
          width: 5rem;
          height: 2px;
        }
      }
    }
  }
}

.textBlockWithImage {
  .wrapper {
    display: flex;
    align-items: center;
    img {
      width: 50%;
      margin-right: 2rem;
    }
  }
}
