@import "../../styles/globals.module.scss";

.playersPage {
  background: url("../../images/graph-paper-white.svg") repeat top left / 5rem
    $primary-grey;
  padding: 6rem 1rem 1rem;
  position: relative;
  margin-top: -6rem;
  z-index: 0;

  @media only screen and (min-width: $md) {
    padding: 2.5rem;
  }

  &Wrapper {
    border: $primary-border;
    border-color: $primary-blue;
    // padding: 2rem 0rem;
  }
}

.playerCardsGrid {
  @include playerCardsGrid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  margin: 0;
}

.playerCardWrapper {
  border-bottom: $primary-border;
  border-color: $primary-blue;
  width: 100%;
  display: flex;
  place-content: center;
  padding: 1rem;
  @media only screen and (min-width: $sm) and (max-width: $sm-md) {
    border-right: $primary-border;
    border-color: $primary-blue;
    &:nth-child(even) {
      border-right: none;
    }
  }
  @media only screen and (min-width: $sm-md) and (max-width: $lg) {
    border-right: $primary-border;
    border-color: $primary-blue;
    &:nth-child(3) {
      border-right: none;
    }
  }
  @media only screen and (min-width: $md) {
    border-right: $primary-border;
    border-color: $primary-blue;
    padding: 2.5rem;
  }
  // border-top: none;

  // &:nth-child(1) {
  //   border-top: none;
  //   border-left: none;
  // }
  // &:nth-child(-n + 3) {
  //   border-top: none;
  // }
}
