@import "../styles/globals.module.scss";

.button {
  @include buttonFont;
  color: $primary-blue;
  text-transform: uppercase;
  border: 2px dashed $primary-pink;
  border-radius: 2.5rem;
  padding: 0.625rem 1.25rem;
}
