@import "../styles/globals.module.scss";

.button {
  @include buttonFont;
  color: $primary-blue;
  text-transform: uppercase;
  border: $primary-border;
  border-radius: 2.5rem;
  padding: 0.625rem 1.25rem;
  position: relative;
  text-wrap: nowrap;
}

.bouncing {
  @include bouncingO;
}
