@import "../../styles/globals.module.scss";

.sectionSplitTextBlock {
  position: relative;
  overflow: hidden;
  margin: -5rem auto -15rem;

  &::before {
    background: url("../../images/player-illustrations/dribbler-layer@2x.png")
      no-repeat top left / contain transparent;
    content: " ";
    position: relative;
    left: 68%;
    display: block;
    z-index: 3;
    width: 10rem;
    height: 14rem;
    margin-top: -5rem;
    top: 5rem;

    @media only screen and (min-width: $sm-md) {
      top: 9rem;
      margin-top: -9rem;
      width: 19rem;
      height: 25rem;
    }
  }
  &::after {
    background: url("../../images/player-illustrations/shooter-m.png") no-repeat
      top left / contain transparent;
    content: " ";
    position: relative;
    display: block;
    z-index: 3;

    left: 82%;
    width: 13rem;
    height: 19rem;
    // bottom: 15.25rem;
    bottom: 7.25rem;

    @media only screen and (min-width: $sm-md) {
      // bottom: 14rem;
      width: 19rem;
      height: 28rem;
      left: -4rem;
      margin-bottom: -12rem;
      bottom: 22rem;
    }

    @media only screen and (min-width: $md) {
      left: -4.5rem;
      bottom: 17rem;
    }

    @media only screen and (min-width: $lg) {
      left: 2rem;
      bottom: 24rem;
    }
    @media only screen and (min-width: $xl) {
      left: 25rem;
    }
  }

  .sectionTitle {
    h3 {
      @include headingFont;
      font-size: 2rem;
      color: $primary-white;
      margin: 5rem 0 0;
      @media only screen and (min-width: $sm-md) {
        font-size: 3.25rem;
        margin: 0 0 -2.15rem;
      }
    }
  }

  .wrapper {
    border: 1px dashed white;
    margin: 0 auto;
    @media only screen and (min-width: $sm-md) {
      display: flex;
      justify-content: center;
    }
  }

  .content {
    h2,
    h3 {
      @include headingFontH3;
    }
    p,
    a {
      @include bodyFont;
      margin-bottom: 1.5rem;
    }
    h2,
    h3,
    p,
    a {
      color: $primary-blue;
    }
  }

  .sectionTitle {
    margin: 0 1rem 0.75rem;
    line-height: 0;
    color: $primary-white;
    @media only screen and (min-width: $sm-md) {
      margin: 0 auto 1.25rem;
      text-align: center;
    }
  }
}

.column {
  padding: 3rem 1rem;
  position: relative;
  color: $primary-blue;
  @media only screen and (min-width: $sm-md) {
    min-height: 50rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  @media only screen and (min-width: $md) {
    min-height: 60rem;
  }

  @media only screen and (min-width: $md) {
    padding: 3rem 3rem 2.5rem;
  }
  &:first-child {
    background: url("../../images/graph-paper-grey.svg") repeat top left / 5rem
      $primary-white;
  }
  &:last-child {
    background-color: $primary-grey;
    position: relative;

    @media only screen and (min-width: $sm-md) {
      text-align: right;
      justify-content: flex-end;
      align-items: flex-start;
      .eyebrow {
        right: 1rem;
        left: initial;
      }
    }
    .contentWrapper {
      position: relative;
      height: 100%;
      display: flex;
      align-items: flex-end;
      &::before,
      &::after {
        content: " ";
        position: absolute;
        height: 100%;
        width: 3.25rem;
        bottom: 0;
        right: -3rem;
        background: url("../../images/line-bird-line@2x.png") no-repeat center /
          contain transparent;
        @media only screen and (min-width: $lg) {
          right: -3rem;
        }
      }
      &::before {
        left: -3rem;
        transform: scaleX(-1);
        display: none;
        @media only screen and (min-width: $sm-md) {
          display: block;
        }
      }
      &::after {
        @media only screen and (min-width: $sm-md) {
          display: none;
        }
        @media only screen and (min-width: $md) {
          display: block;
        }
      }
    }
  }

  .eyebrow {
    top: 1rem;
    left: 1rem;
    margin-bottom: 2.5rem;
    display: block;
    @include bodyFont;
    color: $primary-blue;
    font-weight: 100;
    letter-spacing: -0.02rem;
  }
}

.content {
  max-width: 70%;
  max-width: 40rem;
}

.horizontalSplit {
  .wrapper {
    @media only screen and (min-width: $sm-md) {
      flex-direction: column;
    }
  }
  .column {
    width: 100%;
    min-height: initial;
    flex-direction: row;
    position: relative;
    @media only screen and (min-width: $md) {
      padding-top: 5rem;
      justify-content: center;
    }
  }
  &::before {
    background: url("../../images/player-illustrations/hoop@2x.png") no-repeat
      top left / contain transparent;

    left: -1rem;
    display: block;
    z-index: 3;
    width: 10rem;
    height: 10rem;
    margin-top: -5rem;
    top: 5rem;

    @media only screen and (min-width: $sm-md) {
    }
  }

  .contentWrapper {
    display: flex;
    max-width: 50rem;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (min-width: $md) {
      justify-content: center;
      flex-direction: row;
    }
  }

  .column:last-child {
    .contentWrapper {
      @media only screen and (min-width: $md) {
        flex-direction: row-reverse;
        align-items: flex-start;
      }
    }
    .playerCardWrapper {
      @media only screen and (min-width: $md) {
        margin: -1rem -1rem 1.5rem 1.5rem;
      }
    }
  }
}

.playerCardWrapper {
  display: flex;
  place-content: center;
  padding: 1rem;
  margin: 0 -1rem 1.5rem;
  @media only screen and (min-width: $md) {
    margin: -1rem 1.5rem 1.5rem -1rem;
  }

  div {
    cursor: default;
  }

  a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
